:root {
    --title-font: 'Kavoon', cursive;
    --body-font:'Poppins', sans-serif;
    --bold: 700;
}

.prodRow {
    display: flex;
    justify-content: space-around;
}

.productArea {
    height: 202px;
    width: 50%;
    margin: 20px 10px 0px 10px;
    padding: 40px 40px;
}

.desc {
    color: #797979;
    font-size: 13px;
}

.prodTitle {
    font-family: var(--title-font);
    font-size: 70px;
    color: #2A379D;
    margin-bottom: 15px;
}

/* Product images */

.bed {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.3)), url(../imgs/morning-haze/annie-spratt-V-6bv_-LzOo-unsplash.jpg);
    background-size: 110%;
    background-position: 50% 80%;
}

.couch {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.3)), url(../imgs/rainy-day/pesce-huang-OTR3YJiigkw-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.round {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.3)), url(../imgs/Denim/krisztina-papp-SR5Kdmk5W0o-unsplash.jpg);
    background-size: cover;
    background-position: left;
}

.pouf {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.3)), url(../imgs/school-special/minh-pham-OtXADkUh3-I-unsplash.jpg);
    background-size: 150%;
    background-position: 95% 92%;
}

.shopBtn {
    background-color: white;
    color: #EDB678;
    border: 3px solid #EDB678;
    font-size: 15px;
    border-radius: 5px;
    margin: 200px 0px;
    text-align: center;
    padding: 5px 20px;
}

.shopBtn:hover {
    background-color: #EDB678;
    color: white;
}

.soon {
    background-color: #ED7878;
    border: none;
    color: white;
    pointer-events: none;
    cursor: default;
}

.soon:hover {
    background-color: #ED7878;
    pointer-events: none;
    cursor: default;
}