:root {
    --title-font: 'Kavoon', cursive;
    --body-font:'Poppins', sans-serif;
    --bold: 500;
}

.subnav, .row {
    display: flex;
    justify-content: space-between;
}

.product {
    color: white;
    background-color: #FFD19C;
    width: 25%;
    height: 28%;
    margin: 15px 10px;
    padding: 3px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.product:hover {
    background: #EDB678;
}

.thisPage {
    background: #EDB678;
    font-weight: var(--bold);
}

/* Images */

.allProdImages, .productText {
    width: 48%;
    margin-top: 20px;
}

.currentImg {
    width: 100%;
    height: 540px;
    background: url(../imgs/morning-haze/olena-sergienko-aKIxt1mGcRU-unsplash.jpg);
    background-size: 120%;
    background-position: center;
}

.otherimg {
    width: 100%;
    height: 121px;
    margin: 20px 5px 10px 5px;
}

.img1 {
    background: url(../imgs/morning-haze/olena-sergienko-aKIxt1mGcRU-unsplash.jpg);
    background-size: 120%;
    background-position: center;
}

.img2 {
    background: url(../imgs/Denim/taylor-simpson-6JGJjb49PqA-unsplash.jpg);
    background-size: 230%;
    background-position: 15% 70%;
}

.img3 {
    background: url(../imgs/school-special/sven-brandsma-GWFFvub7Y1U-unsplash.jpg);
    background-size: 120%;
    background-position: center;
}

.img4 {
    background: url(../imgs/rainy-day/pesce-huang-L0_i0ClBM8E-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* product Text */

.prodName {
    color: #2A379D;
    font-size: 50px;
    font-family: var(--title-font);
    margin: 5px 0px 10px 0px;
}

.costAdd {
    margin-bottom: 10px;
}

.cost {
    color: #5C64A2;
    font-size: 35px;
    font-weight: 500;
}

.addToCart {
    width: 40%;
    border: 2px solid #EDB678;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0px;
    color: #EDB678;
    font-weight: var(--bold);
}

.addToCart:hover {
    color: white;
    background-color: #EDB678;
}

.quantity {
    justify-content: start;
}

.quantarrow {
    margin: 3px 0px;
    color: #EDB678;
}

.quant {
    border: 1px solid #C4C4C4;
    text-align: center;
    font-family: var(--body-font);
    border-radius: 5px;
    width: 15%;
    margin: 0px 10px;
}

.itemSelectTitle {
    margin-top: 20px;
    font-size: 20px;
}

.customFill, .customColor {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #EDB678;
    border-radius: 5px;
    padding: 5px 5px;
    color: #EDB678;
    
}

.filloptions, .coloroptions {
    margin: 10px 0px 20px 0px;
}

.customColor {
    width: 25%;
    margin: 0px 6px;
    font-size: 14px;
}

.customFill {
    width: 33%;
    margin: 0px 6px;
    font-size: 13px;
}

.textOpt {
    text-align: center;
}

.customFill:hover, .customColor:hover {
    color: white;
    background-color: #EDB678;
}

.detailLine {
    border-top: 2px solid #A8A8A8;
}

/* Arrow */
.dropDown {
    width: 98%;
    color: #A8A8A8;
}

.arrow {
    border: solid #EDB678;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    justify-self: end;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /* Product Notes */

.product-notes {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../imgs/school-special/minh-pham-OtXADkUh3-I-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    position: relative;
    margin: 40px 0px;
}

#product-stat{
    position: absolute;
    top: 80px;
    left: 100px;
    width: 600px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
}

#note-title {
    font-family: var(--title-font);
    font-size: 30px;
    letter-spacing: 1px;
    margin: 20px 20px;
    color: #DF841C;
}

#notes-table{
    width: 520px;
    margin: 0px auto;
    border-top:1px solid black ;
    border-bottom:1px solid black ;
}

.middleCell{
    border-right:1px solid black;
    border-left:1px solid black;
}

.table-info {
    border-top:1px solid black;
    margin: 20px 20px;
}


.table-title {
    text-transform: uppercase;
    font-family: var(--body-font); 
    font-size: 13px;
    font-weight: var(--bold);
    width: 30%;
    padding: 10px 10px;
}

.table-info{
    text-transform: uppercase;
    font-family: var(--body-font); 
    font-size: 13px;
    padding: 15px 15px 10px 15px;
    vertical-align: top;
    text-align: center;
}

#table-list{
    list-style: none;
    padding-left: 15px;
}

#table-list li::before{
    /* editing bullet */
    content: "\2022";  
    color: #343a40; 
    display: inline-block; 
    width: 15px; 
    margin-left: -1em; 
}

