:root {
    --title-font: 'Kavoon', cursive;
    --body-font:'Poppins', sans-serif;
    --bold: 700;
}

/* Main Banner */

.photo {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../imgs/home/jonathan-borba-_peqvnRW7tc-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Banner Text */
.phototext {
    color: #C6B0F5;
    padding-top: 40px;
}

.homeButtonCTA {
    background-color: #FFD19C;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    padding-top: 18px;
}

.homeButtonCTA:hover {
    background-color: #111F99;
}

/* Fill and Color Sections */

.PColors, .PFills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.title {
    font-family: var(--title-font);
    color: #455274;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.PColors, .PFills {
    width: 100%;
}

/* COLOR IMAGES */
.colorPhotos, .fillPhotos {
    display: flex;
    flex-direction: row;
}

.color, .fill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
    width: 100%;
}

.colorImage, .fillImage {
    width: 180px;
    height: 180px;
    margin: 10px;
    border-radius:50%;
}

.school {
    background: url(../imgs/school-special/sarah-boudreau-EdRcN6buYzg-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

.haze {
    background: url(../imgs/morning-haze/j-kelly-brito-I2hZjWx8DWs-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.demin {
    background: url(../imgs/Denim/taylor-simpson-6JGJjb49PqA-unsplash.jpg);
    background-size: 230%;
    background-position: 15% 70%;
}

.rainy {
    background: url(../imgs/rainy-day/pesce-huang-L0_i0ClBM8E-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* FILL IMAGES */

.duck {
    background: url(../imgs/home/evie-s-Sw7f58YJbc0-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

.polyBlend {
    background: url(../imgs/home/crystal-de-passille-chabot-IQJce7KVi3M-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

.foam {
    background: url(../imgs/home/rodolfo-puchulu-jGfIzudYK_Q-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

/* buttom button */
.button-shop {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}